.productCategory {
  width: 279px;
  margin-top: 10px;

  .mainCategory {
    width: 160px;
    list-style: none;
  }
  .otherCategoryList {
    width: 300px;
    margin-top: 40px;
    .otherCategory {
      padding-bottom: 20px;
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;
    }
  }
  .product {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    .subProductCategory {
      transition: all 1s ease;
    }
  }
}

@media screen and (max-width: 968px) {
  .otherCategoryList {
    display: none;
  }
}
