.productMain {
  width: 1136px;
  display: flex;
  margin: 0 auto;

  .mainRigth {
    width: 874px;
  }
}

@media screen and (max-width: 968px) {
  .productMain {
    width: 100vw;
    display: block;
  }
}
