@import "../../../styles/common.scss";

.productEventList {
  margin-top: 50px;
  .eventName {
    margin: 0 0 10px 3px;
    font-size: 17px;
    font-weight: bold;
  }
  ul {
    display: flex;
    justify-content: space-between;
    .item {
      width: 152px;
      height: 314px;
      .itemImg {
        width: 152px;
        height: 152px;
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;
        &:hover {
          img {
            transform: scale(1.1);
          }
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      .itemContent {
        margin-top: 20px;
        .itemName {
          margin-bottom: 8px;
          font-size: 15px;
        }
        .priceInfo {
          margin-bottom: 6px;
          .discount {
            margin-right: 7px;
            color: $themeColor;
            font-size: 17px;
            font-weight: 700;
          }
          .price {
            font-size: 17px;
            font-weight: 700;
          }
        }
        .itemEvaluation {
          display: flex;
          margin-bottom: 6px;
          font-size: 12px;
          font-weight: bold;
          .avg {
            margin-right: 5px;
            span {
              margin-right: 3px;
              font-weight: 900;
              color: $themeColor;
            }
          }
          .review {
            color: gray;
          }
        }
        .itemBadag {
          display: flex;
          .freeDelivery {
            width: 50px;
            height: 20px;
            margin-right: 3px;
            background-color: #eeeeee;
            text-align: center;
            line-height: 20px;
            font-size: 11px;
            color: $fontBlack;
            border-radius: 5px;
          }
          .onSale {
            width: 30px;
            height: 20px;
            background-color: #f77;
            text-align: center;
            line-height: 20px;
            font-size: 11px;
            color: white;
            border-radius: 5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 968px) {
  .productEventList {
    width: 100vw;
    overflow: scroll;

    .eventName {
      margin-left: 30px;
    }

    ul {
      margin-left: 30px;

      .item {
        margin-right: 20px;
      }
    }
  }
}
