.CardList {
  width: 692px;
  margin: 0px auto;
  padding: 40px 0px;
  border-bottom: 1px solid rgb(232, 232, 232);
  .reviewUser {
    display: flex;
    align-items: center;
    color: #424242;
    font-size: 13px;
    align-items: center;

    .imgBox {
      width: 24px;
      height: 24px;
      margin-right: 8px;
      border-radius: 50%;
      overflow: hidden;

      img {
        max-width: 100%;
        text-align: center;
      }
    }
    .reviewUserInfo {
      padding-top: 4px;
      .userScoreBig {
        display: flex;
        span {
          margin-right: 8px;
        }
      }
    }
  }

  .reviewUserScore > ul {
    display: flex;
    font-size: 12px;
    margin: 12px 0px;
    li {
      display: flex;
      align-items: center;
      margin-right: 20px;
      span {
        margin-left: 4px;
      }
    }
  }
  .reviewProductName {
    margin: 20px 0px;
    padding-left: 10px;
    font-size: 14px;
    color: #757575;
  }
  .imgBox {
    width: 112px;
    height: 112px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    .reviewImage {
      max-width: 100%;
      text-align: center;
    }
  }

  .reviewContent {
    margin: 20px 0px;
    font-size: 15px;
  }
  .reviewHelped {
    button {
      width: 114px;
      height: 32px;
      margin-right: 10px;
      border: 1px solid #35c5f0;
      border-radius: 4px;
      background-color: white;
      color: #35c5f0;
      font-size: 15px;
      font-weight: 700;
    }
    span {
      font-size: 13px;
    }
    .helpfulNumber {
      font-weight: 700;
    }
  }
}
