.ReviewModal {
  position: fixed;
  top: 48%;
  left: 50%;
  width: 760px;
  border-radius: 4px;
  box-shadow: 5px 5px 15px gray;
  background-color: white;
  transform: translate(-50%, -50%);
  max-height: calc(100vh - 85px);
  overflow-y: auto;

  .closeModal {
    width: 100%;
    height: 24px;

    .xImage {
      float: right;
      width: 40px;
      border: none;
      background-color: transparent;
      padding: 20px 20px 0 0;
      img {
        width: 100%;
      }
    }
  }

  .ReviewContainer {
    padding: 26px 40px 0 40px;

    .ReviewModalTitle {
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      color: #292929;
    }

    .ReviewModalPoint {
      display: flex;
      align-items: center;
      height: 45px;
      margin-top: 30px;
      padding: 0 16px;
      font-weight: 700;
      background-color: #525b61;
      color: white;
      font-size: 15px;
      .blue {
        color: #6cd5f4;
      }
      .gray {
        color: #a4acb3;
      }
    }
    .ReviewModalForm {
      .imageSection {
        display: flex;
        align-items: center;
        margin: 20px 0 30px 0;

        .imgBox {
          width: 100px;
          height: 100px;
          border-radius: 4px;
          overflow: hidden;

          img {
            max-width: 100%;
            text-align: center;
          }
        }
        .productNameSection {
          margin-left: 12px;
          p {
            margin-bottom: 6px;
            font-size: 11px;
            color: #757575;
          }
          span {
            font-size: 15px;
          }
        }
      }

      .starScoreSection {
        .starScoreSectionSatisFaction {
          display: flex;
          align-items: center;
          span {
            margin-right: 20px;
          }
        }
        p {
          margin: 30px 0 8px;
          padding: 8px 8px 8px 0px;
          font-size: 15px;
          color: #292929;
          font-weight: 700;
        }
        .photoReview {
          height: 28px;
          margin-left: 8px;
          padding-left: 8px;
          border-radius: 14px;
          background-color: #757575;
          color: white;
          font-size: 12px;
          span {
            color: #35c5f0;
          }
        }
        .photo {
          display: flex;
        }
        .photoSectionExplain {
          font-size: 13px;
          margin-bottom: 10px;
        }
        .postPhoto {
          width: 100%;
          height: 45px;
          border: 1px solid #35c5f0;
          border-radius: 4px;
          background-color: transparent;
          color: #35c5f0;
          font-size: 15px;
          font-weight: 700;
        }
        .complete {
          width: 100%;
          height: 45px;
          border: none;
          border-radius: 4px;
          background-color: #35c5f0;
          color: white;
          font-size: 15px;
          font-weight: 700;
        }
        textarea {
          padding: 9px 15px 25px;
          width: 100%;
          height: 110px;
          border: 1px solid lightgray;
          border-radius: 4px;
          color: #292929;
          resize: none;
        }
        .reviewCheck {
          margin-bottom: 50px;
        }
      }
    }
  }
}
.reviewPolicy {
  margin-top: 30px;
  padding: 20px 40px;
  background-color: #f7f8fa;
  ul {
    color: #424242;
    font-size: 13px;
    li {
      margin: 4px 0px;
    }
  }
}
