@import "../../../styles/common.scss";

.itemList {
  width: 847px;
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .categoryFilter {
    display: flex;
    position: relative;
    margin-top: 10px;
    .filterBar {
      padding: 8px 0 12px;
      button {
        height: 34px;
        margin-right: 10px;
        padding: 8px 10px;
        background-color: #ffffff;
        color: $fontBlack;
        border: 1px solid rgb(218, 220, 224);
        border-radius: 4px;
        cursor: pointer;
        &:hover {
          background-color: #effbff;
        }
        span {
          span {
            margin-left: 15px;
            font-size: 20px;
          }
        }
        .btnArrow {
          padding-left: 5px;
          line-height: 20px;
          font-size: 12px;
          color: #dadce0;
        }
      }
      .subfilterBar {
        position: relative;
        .subfilterList {
          position: absolute;
          top: 10px;
          left: -10px;
          z-index: 100;
          width: 200px;
          padding: 10px;
          border-radius: 10px;
          background-color: #fff;
          box-shadow: 2px -1px 16px rgb(200, 200, 200);

          .subfilterName {
            width: 180px;
            border: none;
            z-index: 100;
            &:hover {
              background-color: #effbff;
            }
          }
        }
      }
    }
    .filterResetBtn {
      width: 100px;
      height: 30px;
      margin-top: 10px;
      margin-left: 170px;
      border: none;
      border-radius: 5px;
      background-color: transparent;
      cursor: pointer;
    }
  }
  .itemFilterd {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 10px 0;
    .itemCountedNum {
      width: 100px;
      padding-top: 9px;
    }
    button {
      width: 95px;
      height: 30px;
      background-color: transparent;
      border: transparent;
    }
  }
  .orderFilter {
    position: relative;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    div {
      margin: 0 4px;
      font-size: 5px;
    }
    .orderPanel {
      position: absolute;
      right: 0;
      width: 200px;
      padding: 10px;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 2px -1px 16px rgb(200, 200, 200);
      button {
        width: 180px;
        text-align: center;
        cursor: pointer;
        &:hover {
          background-color: #effbff;
        }
      }
    }
  }
  .item {
    width: 278px;
    height: 391px;
    .itemImg {
      width: 258px;
      height: 257px;
      margin-bottom: 8px;
      border-radius: 5px;
      overflow: hidden;
      cursor: pointer;
      &:hover {
        img {
          transition: 0.2s;
          transform: scale(1.1);
        }
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .itemContent {
      padding: 0 10px;
      .itemName {
        margin-bottom: 8px;
        font-size: 15px;
      }
      .priceInfo {
        margin-bottom: 6px;
        .discount {
          margin-right: 7px;
          color: $themeColor;
          font-size: 20px;
          font-weight: 700;
        }
        .price {
          font-size: 20px;
          font-weight: 700;
        }
      }
      .itemEvaluation {
        display: flex;
        margin-bottom: 6px;
        font-size: 14px;
        .avg {
          margin-right: 3px;
          span {
            margin-right: 3px;
            font-weight: 900;
            color: $themeColor;
          }
        }
        .review {
          color: gray;
        }
      }
      .itemBadag {
        display: flex;
        .freeDelivery {
          width: 50px;
          height: 20px;
          margin-right: 3px;
          background-color: #eeeeee;
          text-align: center;
          line-height: 20px;
          font-size: 11px;
          color: $fontBlack;
          border-radius: 5px;
        }
        .onSale {
          width: 30px;
          height: 20px;
          background-color: #f77;
          text-align: center;
          line-height: 20px;
          font-size: 11px;
          color: white;
          border-radius: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 968px) {
  .itemList {
    width: 100%;

    ul {
      margin: 0 30px 0;
    }

    .item {
      width: 420px;
      height: 440px;

      .itemImg {
        width: 100%;
        height: 320px;
      }
    }

    .categoryFilter {
      margin: 0 30px;
      justify-content: space-between;
    }

    .itemFilterd {
      margin: 10px 30px;
    }

    .orderFilter {
      button {
        justify-content: flex-end;
      }
      .orderPanel {
        button {
          justify-content: center;
        }
      }
    }
  }
}
