@import "../../styles/common.scss";

.cardContainer {
  width: 290px;
  height: 560px;
  padding: 0 10px;
  background-color: transparent;
  font-family: "Noto Sans KR", sans-serif;

  .userContainer {
    display: flex;
    margin-bottom: 16px;

    .cardItemWriter {
      width: 36px;
      border-radius: 18px;
    }

    button {
      background-color: transparent;
      border: none;

      .user,
      .follow {
        font-size: 16px;
      }
    }

    .follow {
      font-weight: 700;
      color: $themeColor;
    }

    p {
      padding: 4px 0 0 6px;
      color: #757575;
      font-size: 12px;
    }
  }

  .cardImage {
    width: 100%;
    border-radius: 6px;
  }

  .cardIconBox {
    display: flex;
    justify-content: space-around;
    padding: 12px 0 16px 0;

    span {
      color: #424242;
      font-size: 12px;
    }

    .cardIcons {
      width: 36px;
      background-color: transparent;
      border: none;
    }
  }
  .usercontents {
    color: #424242;
    font-size: 15px;
    padding-left: 0px;
  }
  .cardComment {
    align-items: center;
    font-size: 16px;
    button {
      border: none;
      background-color: transparent;
      color: #424242;
      text-align: left;
    }
    img {
      width: 24px;
      border-radius: 20px;
    }
    span {
      margin: 0 2px;
    }
    .userName {
      font-weight: 700;
    }
  }
}
