@import url("https://fonts.googleapis.com/css2? family = Noto + Sans + KR : wght @ 100; 300 & family = Reggae + One & display = swap"); //λ©”μΈν°νΈ font-family = Noto + Sans + KR
$themeColor: #35c5f0;
$fontBlack: #424242;
$boxColor: #f5f5f5;
%center {
  display: flex;
  justify-content: center;
  align-items: center;
}
