@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
$themeColor: #35c5f0;
$fontBlack: #424242;
$boxColor: #f5f5f5;
%center {
  display: flex;
  justify-content: center;
  align-items: center;
}
