@import "../../../styles/common.scss";

.mainInSignIn {
  margin: 100px auto 0 auto;
  width: 100%;
  height: 800px;
  border: 1px solid black;

  .arrayMainCenter {
    margin: 0 auto;
    width: 310px;
    height: 100%;
    background-color: burlywood;
  }
}
