.categoryInNav {
  .divForBorder {
    display: flex;
    flex-direction: row;
    margin: 13px auto;
    width: 1136px;
  }
}

@media screen and (max-width: 968px) {
  .categoryInNav {
    .divForBorder {
      justify-content: center;
    }
  }
}
