@import "../../styles/common.scss";

.navBar {
  position: relative;
  width: 100%;
  height: 1800px;
  color: #424242;

  .navBarForFixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #e3e3e3;
    background-color: #ffffff;

    .topOfNav {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin: 0 auto;
      width: 1136px;
      height: 80px;

      .sweetHomeInNav {
        height: auto;
        width: 170px;
        font-size: 30px;
      }

      .centerInNav {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 14px;
        margin-left: 40px;
        width: 260px;
        height: 60px;
        font-size: 22px;

        span {
          margin-right: 50px;
          width: 100px;
          transition: 0.2s;
        }

        span:hover {
          color: $themeColor;
          transform: scale(1.1);
          transition: 0.2s;
          cursor: pointer;
        }
      }

      .rightSideOfNav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 14px;
        width: 100%;
        height: auto;

        .searchBox {
          position: relative;
          margin-right: 10px;
          height: auto;

          input {
            width: 250px;
            height: 45px;
            border: 1px solid #e3e3e3;
            border-radius: 2px;
            font-size: 17px;
          }

          input:hover {
            width: 250px;
            height: 45px;
            border: 1px solid #e3e3e3;
            border-radius: 2px;
            font-size: 17px;
            background-color: #e3e3e3;
          }

          .fa-search {
            position: absolute;
            left: 10px;
            top: 13px;
          }
        }
        .icons {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 15px;

          span {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 18px;
            width: 40px;
            height: 40px;

            i {
              font-size: 30px;
            }
          }

          span:hover {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 18px;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            transform: scale(1.1);
            transition: 0.2s;
            background-color: $themeColor;
            color: white;
          }
        }
        .writeButton {
          width: 120px;
          height: 45px;
          font-size: 20px;
          background-color: $themeColor;
          border: none;
          border-radius: 3px;
          .fa-hand-point-down {
            margin-left: 5px;
          }
        }
        .writeButton:focus {
          outline: none;
        }
        .writeButton:hover {
          cursor: pointer;
          background-color: cornflowerblue;
        }
      }
    }
  }
  .categoryInNav {
    display: flex;
    align-items: center;
    margin-top: 80px;
    height: 50px;
    border-bottom: 1px solid #e3e3e3;
  }
}
