@import "../../../../../styles/common.scss";

.productInform {
  width: 100%;
  height: auto;
  border: 1px solid#e9e9e9;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: #ffffff;

  .companyName {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #e9e9e9;
  }

  .productContent {
    display: flex;
    justify-content: center;
    padding: 0 15px;
    width: 100%;
    height: auto;

    border-bottom: 1px solid #e9e9e9;

    .checkboxInContent {
      margin-top: 15px;
      display: flex;
      justify-content: center;

      input {
        margin-top: 0;
        width: 25px;
        height: 25px;
      }
    }

    .mainInContent {
      width: 100%;
      height: auto;

      .productImageWithInform {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        width: 100%;
        height: 70px;

        .productImage {
          width: 70px;
          height: 70px;
          border: none;
          border-radius: 5px;
          outline: none;
        }

        .imageInform {
          width: 550px;
          margin: 5px 0 0 0;

          .productName {
            display: block;
            margin-bottom: 4px;
            font-size: 18px;
            font-weight: bold;
          }

          .deliveryFree,
          .deliveryType {
            height: 20px;
            display: inline;
            font-size: 12px;
          }
        }

        .buttonRemove,
        .buttonRemove:focus {
          display: flex;
          justify-content: center;
          background-color: #ffffff;
          color: #c3c3c3;

          width: 25px;
          height: 25px;
          border: none;
          outline: none;

          .fa-times {
            margin: 0;
            padding: 0;
            font-size: 20px;
          }

          .fa-times:hover {
            font-size: 21px;
          }
        }
      }

      .productColorAndSizeInform {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 20px 0;
        width: 100%;
        height: auto;
        border-radius: 5px;
        background-color: #f5f5f5;

        .productColorAndSizeContainer {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;
          padding: 0 0px 0 10px;
          width: 100%;
          border-radius: 5px;
          background-color: #f5f5f5;

          .colorAndSize {
            font-size: 18px;
          }

          .buttonRemove,
          .buttonRemove:focus {
            display: flex;
            justify-content: center;
            width: 25px;
            height: 25px;
            border: none;
            outline: none;
            background-color: #f9f9f9;
            color: #c3c3c3;

            .fa-times {
              font-size: 20px;
            }

            .fa-times:hover {
              font-size: 21px;
            }
          }
        }
        .quentityBox {
          display: flex;
          justify-content: space-between;
          padding: 0 5px;

          .quentity {
            padding-left: 5px;
            width: 80px;
            height: 24px;
            border: 1px solid #e9e9e9;
            border-radius: 5px;
          }
        }
        .wanted {
          margin: 10px 0;
          padding: 0 5px;
          display: flex;
          width: 100%;

          .wantedInput {
            margin-bottom: 10px;
            width: 100%;
          }

          .wantedText {
            margin-top: 5px;
            width: 100%;
            height: 40px;
            border: 1px solid #e9e9e9;
            border-radius: 5px;
            outline: none;
          }
        }
      }

      .lastInMain {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px 0;

        span {
          a,
          a:visited {
            color: black;
            font-size: 12px;
            text-decoration: none;
          }
        }

        span {
          font-size: 18px;
        }
      }
    }
  }

  .lastOfMain {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
}
