.footer {
  display: block;
  padding: 30px 30px 40px;
  height: 301px;
  background-color: #fafafa;

  .footerOfTop {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 1300px;
    height: 95px;

    .leftSideOfFooter {
      display: inline-flex;
      flex-direction: column;

      height: 100%;

      span {
        margin-bottom: 4px;
      }

      .고객센터 {
        font-size: 16px;
        font-weight: bold;
      }

      .전화번호 {
        font-size: 28px;
      }

      .영업시간 {
        font-size: 12px;
      }
    }
    .icons {
      display: inline-block;

      i {
        font-size: 40px;
        margin: 0px 5px 0px 20px;
      }
    }
  }
  .footerOfBody {
    margin: 0 auto;
    width: 1300px;

    .navInFooter {
      margin-top: 15px;
      font-size: 12px;

      a,
      a:link {
        text-decoration: none;
        color: black;
        margin-right: 15px;
      }
      .개인정보 {
        font-weight: bold;
      }
    }
    .informationInFooter {
      margin: 14px 0 5px 0;
      font-size: 12px;

      span {
        margin-right: 15px;
        color: #9b9898;
      }
    }
    .nicePayInform {
      margin-bottom: 5px;
      color: #9b9898;
      font-size: 12px;
    }
    .informationOfResponse {
      margin-bottom: 25px;
      color: #9b9898;
      font-size: 12px;
    }
    .copyright {
      font-size: 12px;
    }
  }
}
