@import "../../styles/common.scss";

.signUp {
  display: flex;
  height: 1500px; //수정해야함
  background-color: blanchedalmond;

  .divForArrayCenter {
    margin: 0 auto;
    padding-top: 40px;
    width: 1136px;

    .logo {
      display: inline-block;
      width: auto;
      height: auto;
      font-size: 20px;

      .fas {
        margin-right: 3px;
        color: white;
        background-color: $themeColor;
        border-radius: 2px;
      }
    }
  }
}
